<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>user stay booking details</h1>
    <p>Phone_No: <%= x.Phone_No %></p>
    <p>Number_of_People: <%= x.Number_of_People %></p>
    <p>key: <%= x.key %></p>
    <table border="4">
        <tr>
            <th>Name</th>
            <th>Aadhar_No</th>
            <th>Age</th>
           
        </tr>
        <% x.People.forEach(item => { %>
            <tr>
                <td><%= item.Name %></td>
                <td><%= item.Aadhar_No %></td>
                <td><%= item.Age %></td>
            </tr>
        <% }) %>
    
</body>
</html>